@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina|Indie+Flower|Jaldi|Josefin+Sans';

h1 {font-size: 75px;
	font-weight:bolder;
	text-align:center;
	text-decoration: underline;
	color: black;
font-family: 'Josefin Sans', sans-serif;}

body {font-family: Helvetica, sans-serif;
		background-color: white}

p {font-family: 'Jaldi', helvetica, sans-serif}

li{font-family: 'Jaldi', cursive;}

#tools {text-align:center;
	font-family: 'Jaldi';
		font-style: bold;
		font-style: italic;}

#information {text-align:center}

.menu {text-align:center;
		font-size: 50px;
		font-family: 'Baloo Bhaina', cursive;;
		font-weight:bolder
		}


.images {text-align:center;
		display: inline;
         padding: 15px;
     }

#contact {font-size: 13px;
			font-family:;
			text-align:center;}