@import 'https://fonts.googleapis.com/css?family=Indie+Flower|Jaldi|Josefin+Sans';

h1 {font-size: 75px;
	font-weight:bolder;
	text-align:center;
	text-decoration: underline;
	color: black;
font-family: 'Josefin Sans', sans-serif;}

body {font-family: Helvetica, sans-serif;
		background-color: white}

p {font-family: 'Jaldi', helvetica, sans-serif}

li{font-family: 'Indie Flower', cursive;}

#tools {text-align:center;
		font-style: bold;}

#information {text-align:center}

.images {text-align:center;
		display: inline;
         padding: 15px;
     }

#contact {font-size: 13px;
			font-family:;
			text-align:center;}